/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 1em sans-serif;
	color: var(--lightgrey-color);
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: var(--main-color);
	border-radius: 4px;
	text-transform: uppercase;
	background-color: var(--blue-color);
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: var(--base-color);
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: var(--bluegrey-color);
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button{
	font: normal 1em sans-serif;
	color: inherit;
	background-color: transparent;
	border: none;
	outline: none;
	opacity: 0.9;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--main-color);
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
	padding: 5px 0;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Main Section
----------------*/

.main{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: var(--main-color);
	text-align: center;
}

.main .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: var(--grey-color);
	z-index: -1;
}

.main .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg-img-color);
	opacity: var(--main-bg-img-opacity);
}

.main h1{
	font: bold 6em 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.main h3{
	font: normal 2em 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.main a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.main{
		min-height: 600px;
	}

	.main h1{
		font-size: 48px;
	}

	.main h3{
		font-size: 24px;
	}

	.main a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	My Hobby Section
---------------------*/

.my-hobby{
	background-color: var(--base-color);
}

.my-hobby .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: var(--grey-color);
}

.my-hobby .grid li.small{
	flex-basis: 40%;
}

.my-hobby .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.my-hobby .grid li.small,
	.my-hobby .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	About me Section
----------------------*/

.about-me{
	background-color: var(--offset-color);
}

.about-me .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.about-me .grid li i{
    font-size: 50px;
    color: var(--blue-color);
    margin-bottom: 25px;
}

.about-me .grid li h4{
	color: var(--lightgrey-color);
    font-size: 20px;
    margin-bottom: 25px;
}

.about-me .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.about-me .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.about-me .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.about-me .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Quotes Section
--------------------*/

.quotes{
	background-color: var(--base-color);
}

.quotes .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.quotes .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.quotes .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.quotes .quote{
		font-size: 20px;
	}

	.quotes .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: var(--offset-color);
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: var(--lightgrey-color);
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--base-color);
	background-color: var(--footer-bg-color);
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: var(--base-color);
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}



/*-------------
 	Scrollbar
-------------*/

::-webkit-scrollbar
{
	background-color: var(--bluegrey-color);
	width: 4px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: var(--offset-color);
}


::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: var(--bluegrey-color);
}

